body {
  font-family: sans-serif;
  background-color: lightgray;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 14px;
  font-weight: 400;
}

.card {
  width: 360px;
  clear: both;
  margin: auto;
  margin-top: 400px;

  // margin-left: 100px;
}

.productcard {
  width: 120px;
  float: left;
  margin: 10px;
  padding: 20px;
  // clear: both;
}

.productimage {
  height: 80px;
}

input {
  width: 20px;
}

ul {
  list-style-type: none;
}

.productname {
  color: red;
  display: block;
  float: left;
}

th,
td {
  border-bottom: 1px dashed #ddd;
}

table {
  width: 100%;

  table-layout: fixed;
}

.firstcell {
  width: 50%;
}

.lastcell {
  width: 10%;
}

.pricecell {
  width: 15%;
}

.cardfooter {
  border-top: 1px solid #e6e5e5;
  height: 80px;
  background-color: #fcf9f9;
  float: right;
  width: 100%;
}

.checkout {
  position: relative;
  left: 140px;
}

.clearbutton {
  position: relative;
  top: -35px;
  left: 150px;
}

.totalprice {
  position: relative;
  top: 15px;
  left: 30px;
}
